[submodule "spl"]
	path = spl
	url = https://github.com/cs50/spl
[submodule "gtest"]
	path = gtest
	url = git@github.com:google/googletest.git
[submodule "clion-calendar"]
	path = clion-calendar
	url = git@github.com:anastasiak2512/Calendar.git
